body {
  text-align: center;
  background-color: black;
}

h1 {
  font-family: Verdana;
  font-weight: normal;
  font-size: 50px;
  color: #FFF;
}

h2 {
  font-family: Verdana;
  font-size: 42px;
  font-weight: 300;
  color: #FFF;
}

p {
  font-family: Verdana;
  font-size: 21px;
  color: Grey;
}

a {
  font-family: Verdana;
  color: Aquamarine;
  margin: 100px;
}

footer {
  text-align: right;
}
